body {text-align: center;background-color: black;}
#doce {border-radius: 15px;width: 450px;}
#batata {border-radius: 15px; width: 450px;}
h1 {color: brown;text-shadow: 2px 5px 20px red;}
h2 {color: darkblue;text-shadow: 2px 0px 15px cyan;}
